<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>servletdemo</display-name>
  <context-param>
    <param-name>Name</param-name>
    <param-value>Harshit Ranawat</param-value>
  </context-param>
  <context-param>
    <param-name>Designation</param-name>
    <param-value>Java</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWorldServlet</display-name>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>com.luv2code.servletdemo.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/HelloWorldServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.luv2code.servletdemo.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestParamServlet</display-name>
    <servlet-name>TestParamServlet</servlet-name>
    <servlet-class>com.luv2code.servletdemo.TestParamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestParamServlet</servlet-name>
    <url-pattern>/TestParamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MvcDemoServlet</display-name>
    <servlet-name>MvcDemoServlet</servlet-name>
    <servlet-class>com.luv2code.servletdemo.MvcDemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MvcDemoServlet</servlet-name>
    <url-pattern>/MvcDemoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MvcDemoServletTwo</display-name>
    <servlet-name>MvcDemoServletTwo</servlet-name>
    <servlet-class>com.luv2code.servletdemo.mvctwo.MvcDemoServletTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MvcDemoServletTwo</servlet-name>
    <url-pattern>/MvcDemoServletTwo</url-pattern>
  </servlet-mapping>
</web-app>